.inputSearch{
    background: #fff;
    width:auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -1px #656464;
    border-radius: 1px;
    align-items: center;
}
.inputSearch__input{
    border:none;
    padding: 15px;
    width: 100%;
    font-size: 15px;
}
.inputSearch__input:focus{
    outline: none;
}
.inputSearch__input::placeholder ,
 .inputSearch__input:-ms-input-placeholder,
 .inputSearch__input::-webkit-input-placeholder{
    color:#636363;
}
.inputSearch_button{
    border:none;
    outline: none;
    background: transparent;
    padding: 5px;
    border-left: solid 1px #636363;
    height: 80%;
}