.bestStoresBlock {
  min-height: 440px;
}

.bestStoresBlock__body {
  display: flex;
}

.bestStoresBlock__cardStores {
  flex: 1;
  background: var(--white);
  margin: 0 10px;
  transition: .5s;
  border-radius: 4px;
}

.bestStoresBlock__cardStores:first-child {
  margin-left: 0;
}

.bestStoresBlock__cardStores:last-child {
  margin-right: 0;
}

.bestStoresBlock__cardStores__header {
  position: relative;
  min-height: 200px;
}

.bestStoresBlock__cardStores__background {
  width: 100%;
  height: 100px;
}

.bestStoresBlock__cardStores__logo {
  position: absolute;
  z-index: 10;
  top: calc(100px - 50px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--card-division);
}

.bestStoresBlock__cardStores__title {
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize;
}

.bestStoresBlock__cardStores__body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 0;
}

.bestStoresBlock__cardStores__products {
  display: flex;
  justify-content: space-around;
}

.bestStoresBlock__cardStores__productsImage {
  border-radius: 5px;
  border: 1px solid var(--card-division);
}

.bestStoresBlock__cardStores__link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--grey-offer);
  font-weight: 700;
}

.bestStoresBlock__cardStores:hover {
  box-shadow: 0px 0px 10px 0px var(--card-shadow);
}

.bestStoresBlock__cardStores:hover .bestStoresBlock__cardStores__link {
  color: var(--blue-primary);
}

@media screen and (max-width: 992px) {}


@media screen and (max-width: 600px) {
  .bestStoresBlock__body {
    flex-wrap: wrap;
    background: var(--white);
  }
  .bestStoresBlock__cardStores {
    margin: 10px 0;
  }
  .bestStoresBlock__cardStores__body {
    padding: 10px;
    padding-bottom: 0;
  }
  .bestStoresBlock__cardStores__header {
    position: relative;
    min-height: 100px;
  }
}