.completedPurchaseBlock{
    background: var(--yellow-primary);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.completedPurchaseBlock__box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 75%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgb(110, 110, 110);
}
.completedPurchaseBlock__box__icon{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.completedPurchaseBlock__box__icon > svg{
    color: var(--green-primary);
    font-size: 150px;
}
.completedPurchaseBlock__box__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.completedPurchaseBlock__box__text > h1{
    color: #363636;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
}
.completedPurchaseBlock__box__text > h3{
    color: #808080;
    text-transform: capitalize;
    font-weight: 200;
}
.completedPurchaseBlock__box__buttons{
    display: flex;
    justify-content: center;
}
.completedPurchaseBlock__box__buttons > a{
    margin: 10px;
    margin-top: 40px;
    width: 50%;
    color: #fff;
    background: var(--blue-primary);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .completedPurchaseBlock__box{
        width: 95%;
        height: 95%;
        padding: 5px;
    }
    .completedPurchaseBlock__box__icon > svg{
        font-size: 120px;
    }
    
    .completedPurchaseBlock__box__text > h1{
        font-size: 20px;
    }
    .completedPurchaseBlock__box__text > h3{
        font-size: 15px;
    }
    .completedPurchaseBlock__box__buttons > a{
        width: 80%;
    }
}
  
@media screen and (max-width: 600px) {
    
    .completedPurchaseBlock__box{
        width: 95%;
        height: 95%;
        padding: 5px;
    }
    .completedPurchaseBlock__box__icon > svg{
        font-size: 120px;
    }
    
    .completedPurchaseBlock__box__text > h1{
        font-size: 20px;
    }
    .completedPurchaseBlock__box__text > h3{
        font-size: 15px;
    }
    .completedPurchaseBlock__box__buttons > a{
        width: 100%;
    }
}